@using MammasTiffin.Web.ViewModels.MammasTiffin
@model HomeViewModel

@{
    ViewBag.Title = "Home";
}
<div class="homeWrapper">
    <div id="mainBackgroungImage">
        <div class="container">
            <div class="row">
                <div class="banner-info text-center">
                    <h1 class="bnr-title">Welcome to Mamma's <span>Tiffin</span></h1>
                    <h2 class="bnr-subtitle">Hungry and need a healthy meal!</h2>
                    <p class="bnr-para">
                        We bring you the best healthy,delicious home cooked food at best price.
                        Weather you are an athelete or sick, we have something exclusively for you.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="service-title">What We Do?</div>
                    <div class="service-subtitle">We provide home delivery of home made meals to your office, home or any place you want in our service area.</div>
                </div>
            </div>
            <div class="underline"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3>For <span>Home</span></h3>
                        <img src="~/Images/Home/home-sketch.png" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3>For <span>Work</span></h3>
                        <img src="~/Images/Home/office-block.png" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3>For <span>Hospital</span></h3>
                        <img src="~/Images/Home/hospital-building.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
